<html>
<body>
<h3>Hi ${model.firstName} ${model.lastName} , welcome to DProz (Dependable professional Zone) the professionals Platform, 
	where helping and meeting customer is made Easy!</h3>

<div>
    Your email address is <a href="mailto:${model.profile.emailAddress}">${model.profile.emailAddress}</a>. <br/>
    Please follow this  <a href ="${model.verificationPathParam}">link</a> to verify your account or copy paste the following on any web browser
    <span>${model.verificationPathParam}</span>
</div>

</body>
</html>